<metaprogram>
<app>
	<appname>com.ffgames.racingincar</appname>
	<op>replace</op>
	<orientation>Y</orientation>
	<sensor_type>gyro</sensor_type>
	<freq>100</freq>
	<x-calibrate>0</x-calibrate>
	<y-calibrate>9</y-calibrate>
	<z-calibrate>0</z-calibrate>
	<orientation>Y</orientation>
	<sensor_type>accel</sensor_type>
	<freq>100</freq>
	<x-calibrate>0</x-calibrate>
	<y-calibrate>9</y-calibrate>
	<z-calibrate>0</z-calibrate>
</app>
<mapping>
	<source>left</source>
	<dest>swipe_left</dest>
	<source>up</source>
	<dest>swipe_up</dest>
	<source>right</source>
	<dest>swipe_right</dest>
</mapping>
</metaprogram>
